<h1><b><i>
<ol>
<li>What is the importance of this app?</li>
<li>How the new user can apply for the cart?</li>
<li>How the user can see their carts?</li>
<li>Is this is useful for you??</li>
<li>How many languages are their in this app??</li>
</ol>
</b></i>
<br /> <br /> <br />
<%= button_to 'Back', store_path %>
</h1>



 
